

    <div class="container">
        <form class="registration">
            <h1>Personal details</h1>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="name" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="last name" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="birthdate">Birthdate</label>
                    <input type="date" class="form-control" id="birthdate" placeholder="birthdate">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="bi">BI</label>
                    <input type="text" class="form-control" id="bi" placeholder="bi" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                    <label for="NUIT">NUIT</label>
                    <input type="text" class="form-control" id="NUIT" placeholder="NUIT" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" aria-describedby="addressHelp" placeholder="Enter name" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                    <label for="phoneNumber">Phone number</label>
                    <input type="number" class="form-control" id="phoneNumber" aria-describedby="phoneNumberHelp" placeholder="phone number">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="anualIncome">Annual Individual Income</label>
                    <input type="text" class="form-control" id="anualIncome" placeholder="Anual Income" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                    <label for="additionalIncome">Annual Additional Income</label>
                    <input type="text" class="form-control" id="additionalIncome" placeholder="last name" autocomplete="off">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="#/bor_loans" class="btn btn-primary">submit</a>
        </form>
    </div>
