<div class="welcome jumbotron">
        <div class="container">
            <div class="note">
                <h1 class="display-4 text-white">Welcome to TxekaTxeneka!</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
                    Doloribus nemo optio dolores corporis sapiente?<br />
                    Corrupti neque ratione dolor autem quaerat nulla! Error nulla provident assumenda ullam
                    perspiciatis porro a.</p>
                <div class="d-block text-center">
                    <a class="btn btn-primary btn-md" href="#" role="button">read more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="app/dist/img/bubble.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="app/dist/img/bubble.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="app/dist/img/bubble.svg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->
        </div>
    </div>